<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Emmanuel Kwabena Kyeremeh">
    <meta name="generator" content="Jekyll v3.8.6">
    <title>Bus Booking · Website</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        
        .admin-fade {
            opacity: 20;
            color: #a9a9a9;
        }
        
        a:hover.highlight {
            background-color: #a9a9a9;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="assets/css/styles.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 " href="#">BBMS</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link " href="/">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active highlight" href="/home">
                                <i class="fa fa-tachometer fa-1x"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/customers">
                                <i class="fa fa-users fa-1px"></i>
                                <span data-feather="file"></span> Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/bookings">
                                <i class="fa fa-money fa-1px"></i>
                                <span data-feather="shopping-cart"></span> Bookings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/buses">
                                <i class="fa fa-truck fa-1px"></i>
                                <span data-feather="users"></span> Buses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/seats">
                                <i class="fa fa-sitemap fa-1px"></i>
                                <span data-feather="bar-chart-2"></span> Seats
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/availability">
                                <i class="fa fa fa-check-circle-o fa-1px"></i>
                                <span data-feather="layers"></span> Availability
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/routes">
                                <i class="fa fa-road fa-1px"></i>
                                <span data-feather="layers"></span> Routes
                            </a>
                        </li>


                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Saved reports</span>
                        <a class="d-flex align-items-center text-muted highlight" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link highlight" href="/reports"> <i class="fa fa-bug fa-1px"></i>
                                <span data-feather="layers"></span> Reports
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>