<%- include("partials/header");-%>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

            </div>
        </div>


        <!-- Row of Dashboard Slide bar -->
        <div class="container">
            <div class="row">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">ID Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>+233558121540</td>
                            <td>1652317</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>+233588121540</td>
                            <td>1658317</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>+233958121540</td>
                            <td>1652319</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Emmanuel Kyeremeh</td>
                            <td>+233558122540</td>
                            <td>1655317</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Page</td>
                            <td>+233558128540</td>
                            <td>1652327</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Phenom</td>
                            <td>+233558129540</td>
                            <td>1652311</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Arthur</td>
                            <td>+2335058121540</td>
                            <td>1352317</td>
                        </tr>

                        <tr>
                            <th scope="row">7</th>
                            <td>Bismark</td>
                            <td>+2335058121540</td>
                            <td>1352317</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Aberor</td>
                            <td>+2335058121540</td>
                            <td>1352317</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Norbert</td>
                            <td>+2335058121540</td>
                            <td>1352317</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Kofi</td>
                            <td>+2335058121540</td>
                            <td>1352317</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Kingston</td>
                            <td>+2335058121540</td>
                            <td>1352317</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <p></p>

        </div>

        <p></p>


        <%- include("partials/footer");-%>