<%- include("partials/header");-%>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Welcome <small class="admin-fade"><%=username%> </small></h1>

            </div>
        </div>


        <!-- Row of Dashboard Slide bar -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-red">
                        <div class="panel-body">
                            <i class="fa fa-users fa-5x"></i>
                            <h3>3</h3>
                        </div>
                        <div class="panel-footer back-footer-red">
                            <a href="customers_view.php" style="text-decoration: none;color: white"><strong>Customers</strong></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-brown">
                        <div class="panel-body">
                            <i class="fa fa-money fa-5x"></i>
                            <h3>6</h3>
                        </div>
                        <div class="panel-footer back-footer-brown">
                            <a href="bookings_view.php" style="text-decoration: none;color: white"><strong>Bookings</strong></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <i class="fa fa fa-calendar fa-5x"></i>
                            <h3>Tuesday 03/03/20</h3>
                        </div>
                        <div class="panel-footer back-footer-green">
                            <strong>Date</strong>

                        </div>
                    </div>

                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue">
                        <div class="panel-body">
                            <i class="fa fa-user fa-5x"></i>
                            <h3>admin</h3>
                        </div>
                        <div class="panel-footer back-footer-blue">
                            <a href="membership_profile.php" style="text-decoration:none;color: white"><strong>Account</strong></a>

                        </div>
                    </div>
                </div>

            </div>
            <p></p>

        </div>
        <!-- admin widgets row  -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-green">
                        <div class="panel-body">
                            <i class="fa fa-truck fa-5x"></i>
                            <h3>2</h3>
                        </div>
                        <div class="panel-footer back-footer-green">
                            <a href="buses_view.php" style="text-decoration: none;color: white"><strong>Buses</strong></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue">
                        <div class="panel-body">
                            <i class="fa fa-sitemap fa-5x"></i>
                            <h3>10 </h3>
                        </div>
                        <div class="panel-footer back-footer-blue">
                            <a href="seats_view.php" style="text-decoration: none;color: white"><strong>Seats</strong></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-red">
                        <div class="panel-body">
                            <i class="fa fa fa-check-circle-o fa-5x"></i>
                            <h3>3 </h3>
                        </div>
                        <div class="panel-footer back-footer-red">
                            <a href="availability_view.php" style="text-decoration: none;color: white"><strong>Availability</strong></a>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-brown">
                        <div class="panel-body">
                            <i class="fa fa-road fa-5x"></i>
                            <h3>2 </h3>
                        </div>
                        <div class="panel-footer back-footer-brown">
                            <a href="routes_view.php" style="text-decoration: none;color: white"> <strong>Routes</strong></a>

                        </div>
                    </div>
                </div>
            </div>
            <!-- row ends here -->
        </div>
        <p></p>

        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="fa fa-bell"> <strong>Bookings Due Today</strong></span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID No.</th>
                                    <th>FullName</th>
                                    <th>Phone</th>
                                    <th>Bus</th>
                                    <th>Seat</th>
                                    <th>Date</th>
                                    <th>DepartureTime</th>
                                    <th>Amount</th>
                                    <th>DateBooked</th>
                                </tr>
                            </thead>
                            <tbody>
                                <div class="alert alert-success">
                                    <strong>No Bookings Due Today</strong>.
                                </div>
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-info btn-block fa fa-list">See All Due Today</a>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <!-- /. ROW  -->

        <%- include("partials/footer");-%>