html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.bus-image {
    border-radius: 10%;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.color {
    font: #A9A9A9;
}

.rotate {
    transform: rotate(90deg);
}


/* .navbar { */


/* min-height: 80px; */


/* margin-bottom: 200px; */


/* } */


/*
.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
}

.navbar-toggle {
    (80px - button height 34px) / 2=23px margin-top: 23px;
    padding: 9px 10px !important;
}

*/

.navbar_padding {
    margin-left: -80px;
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
        /* (80px - line-height of 27px) / 2 = 26.5px */
        /* padding-top: 26.5px;
        padding-bottom: 26.5px; */
        line-height: 27px;
    }
}

.signin-form {
    margin-top: 120px;
}

.message_color {
    color: #A9A9A9;
}

.img_radius {
    border-radius: 25%;
}